.sidenav {
  height: 40px;
  width: 220px;
  border-radius: 5px;
  padding-left: 18px;
  padding-top: 3px;
  margin-bottom: 5px;
  color: blue;
  display: flex; /* Add display: flex to make align-items work */
  align-items: center;
  cursor: pointer; /* Add cursor: pointer to indicate interactivity */
  text-decoration: none; /* Remove text-decoration */
}

.sidenav:hover {
  background-color: lightgray;
  color: #000;
}

.sidenav.active {
  background-color: blue;
  color: #fff;
}

.sidenavproduct{
  height: 40px;
  width: 220px;
  border-radius: 5px;
  border: none;
  padding-top: 3px;
  color: blue;
  display: flex; /* Add display: flex to make align-items work */
  align-items: center;
  cursor: pointer; /* Add cursor: pointer to indicate interactivity */
  text-decoration: none; 

}
.dashb{
  margin-top: -300px;
}
.order{
  margin-top: -300px;
}
.products{
color: green;
margin-top: -330px;
width: 100%;
font-size: 1.2rem;
margin-left: 30px;
} 
.dashboard{
background-color: lightgray;
padding: 20px;
padding-top: 40px;
height: 1000px;
margin-top: 10px;
width: 100%;
}

.adminhome{

margin-top: -500px;
font-weight: bold;
color: blue;
font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .adminhome{
   text-align: center;
    margin-top: -90px;
    margin-left: -230px;
    font-weight: bold;
    color: blue;
    font-size: 1.5rem;
    }
  .dashboard{
    background-color: lightgray;
    padding: 20px;
    padding-top: 40px;
    height: 2400px;
    margin-top: 10px;
    width: 100%;
    }
  .header{
    padding: 30px;
  }

  .sidebar {
    
    padding-top: 140px;
    display: none;

    
  }


  .navbar-toggler {
    position: absolute;
    right: 15px; 
    top: 10;
    color: #fff;
    font-size: 1.3rem;
  
  }

  .navbar-brand {
    margin-right: 15px;
  }


  .mobile-sidebar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .mobile-sidebar-overlay.active {
    display: block;
  }


  .sidebar.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px; 
    background-color: #fff; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
  }

  .nav.flex-column {
margin-top: -80px;
  }

  .navbar-toggler {
    display: block;
  }
  .form-control-dark {
    display: none; 
  }
  .navbar-nav{
    display: none;
  }
  .dashb{
   margin-top: -180px;
   margin-left: -230px;
    
  }
  .order{
    margin-top: -100px;
    margin-left: -230px;
    padding: 0px;
  }
  .products{
    color: green;
    margin-top: -130px;
    width: 100%;
    font-size: 1.2rem;
    margin-left: -240px;
    }
  
}
