.dis {
    display: flex;
}

.hero {
    margin-top: 70px;
    height: 400px;
    width: 650px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 100px;
    
}

.home_img {
margin-left: 50px;
    padding: 45px;
    height: 570px;
    width: 500px;
}


.men {
    margin: 50px;
    padding: 70px;
    padding-top: 80px;
    height: 200px;
    width: 240px;
    border: 2px solid black;
    border-radius: 10px;
    background-image: url("../assets/mensclothes.jpg");
    background-size: 125%;
    background-repeat: no-repeat;
   
   

}

.home_btn{
    margin-left: -10px;
    padding: 6px;
   height: 38px;
   width:115px;
    border-radius: 5px;
    background-color:bisque;
}
.home_btn:hover{
    background-color: blue;
    color: white;
    border: 2px solid white;
}

.content {
    position: relative;
    height: 120px;
    width: 90%;
    margin: 30px;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.8;
    z-index: -1; /* Position the overlay behind the content */
  }
  
  .opacity-image{
    background-image: url('../assets/productbackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
  }


  .prodduct_img{
    height: 350px;
    width: 270px;
    border-radius: 0px;
   border: 5px solid white;
   margin-bottom: 20px;
 
  
}


  .home1{
    display:flex;
    justify-content: center;
    margin-top: 50px;
   
    
   }


  
.display{
    display:flow-root;
    justify-content: space-between;
  }

  .back1 {
 
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    justify-content: space-around;
    position: relative;
    overflow: hidden; 
    /* background-color: rgb(195, 206, 202); */
  }
  
  .back1::before {
    content: "";
  
    background-color: lightgrey;
    /* background-image: url("C:\Users\Gokul\Desktop\MERN\CRUD\client\src\assets\productbackground.jpg");  */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3; /* Adjust the opacity to control the darkness/lightness of the overlay */
    z-index: -1; /* Place the overlay behind the content */
  }  

  .home_back {
    background-image: url("../assets/Home_back.jpg");
    position: relative;
    display: flex;
    width: 1250px;
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
  padding: 20px;
    margin-left: 60px;
} 

.category{
margin-left:20px ;
margin-top: -10px;
font-size: 1.3rem;
}
.prices{
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.2rem;
}               
.para{
  color:black;
  font-size:2.3rem;
}
.para1{
  color:black;
  font-size:1.3rem;
}

.heading{
font-size: 3.6rem;
font-weight: bold;
margin-top:20px ;
margin-bottom:30px ;
}
.heading1{
  font-size: 3.6rem;
  font-weight: bold;
  margin-top:20px ;
  margin-bottom:30px ;
  }

.btn{
  display: flex;
  align-items: center;
  height: 45px;
  width: auto;
  padding:5px ;
  border-radius: 5px;
  background-color:"#add8e6";
  border: 2px solid black;
  color: black;
}
  .btn:hover{
  color: black;
  border: 2px solid black;
  }
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.search {
  width: 550px;
  background-color: blue;
  margin-top: 40px;
  margin-bottom: 10px;
}
.arrived{
  margin-left: 1080px;
}

.shopnow{
  width: 140px;
  height: 8px;
  border-bottom: 2px solid #000; 
 margin-left: 15px;
 }

@media only screen and (max-width: 768px) {
 .dis{
  flex-direction: column;
 
 }
.hero {
  height: 200px;
  width: 350px;
  padding: 10px;
  margin-left: 0px;
  margin-top: 5px;
  align-items: center;
  
}
.heading{
  font-size: 2rem;
  font-weight: bold;
  margin-top:10px ;
  text-align: center;
  margin-left: -15px;
  width: 100%;
  }
  .heading1{
    font-size: 2rem;
    font-weight: bold;
    margin-top:-40px ;
    margin-left: -60px;
    width: 100%;
    }
  .para{
    font-size:1.3rem;
    text-align: center;
    margin-left: -15px;
  }
  .para1{
    font-size:1.2rem;
  color: black;
    margin-left: -60px;
    margin-top: -20px;
  }
  .home_img {
    margin-top: 40px;
        padding: 20px;
        height: 400px;
        width: 100%;
        margin-left: -4px;
        border-radius: 1px;
    }
    .btn-container {
      display: flex;
      justify-content: center;
    }
    
    .btn {
      height: 45px;
      width: auto;
      padding: 5px;
      border-radius: 5px;
      background-color: #add8e6;
      border: 2px solid #add8e6;
      margin-top: -25px;
      margin-left: -15px;
    }
   
    .search-container {
      /* margin-top: 99%; */
      display: flex;
      justify-content: center;
      align-items: center;
    margin-bottom: -20px;
    }
    
    .search {
      width: 300px;
      background-color: blue;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .content {
      height: auto; /* Adjust height for mobile view */
      padding: 10px; /* Add padding for better spacing */
      flex-direction: column; /* Stack items vertically */
      text-align: center; /* Center text content */
      margin-top: 20px;
     padding-left: -30px;
    }
  
    .content::before {
      opacity: 0.5; /* Adjust the overlay opacity for better visibility */
    }

    
    
  .home1{
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
   
    
   }


  
.display{
    display:flow-root;
    justify-content: space-between;
  }

  .back1 {
 
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    justify-content: space-around;
    position: relative;
    overflow: hidden; 
    /* background-color: rgb(195, 206, 202); */
  }
  
  .category{
    margin-left:10px ;
    margin-top: -10px;
    font-size: 1.2rem;
    }
       
    .prices{
      margin-left: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
      font-size: 1.1rem;
    }

    .pagination {
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 20px 0;
      border-radius: 4px;
      margin-bottom: 80px;
    }
    
    .pagination a {
      color: #007bff;
      padding: 4px 8px;
      text-decoration: none;
      border: 2px solid black;
      border-radius: 4px;
      transition: background-color 0.3s;
      margin: 2px;
    
    }
    
    .pagination a.active {
      background-color: #007bff;
      color: white;
      border: 1px solid #007bff;
    }
    
    .pagination a:hover {
      background-color: #f2f2f2;
    }
    
    .pagination .break-me {
      margin: 0 4px;
    }
    
    .pagination ul {
      list-style: none;
      padding: 0;
    }
    
    .pagination ul li {
      display: inline-block;
      margin-right: 10px;
    }
    .home_back {
      background-image: url("../assets/Home_back.jpg");
      position: relative;
      display: flex;
      width: auto;
      height: 450px;
      background-repeat: no-repeat;
      background-position: center;
      /* transform: rotate(90deg); */
      margin-left: -20px;
     
  } 
  .flash{
    font-size: 10px;
  }
 .offer{
  margin-left: -40px;

 }
 .shopnow{
margin-left: -40px;
 
 }
 .arrived{
  margin-left: 160px;
}
.container{
  flex-direction: column;
margin-left: 5px;
  text-align: center;
}
}
