.order-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color:lightgray;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .h31 {
    padding: 20px;
 text-align: center;
    color: blue;
  }
  .img1{
    height: 150px;
    width: 100;
    background-color: blueviolet;
    border-radius: 0px;
    margin-bottom: 30px;
  }
  .title1{
    margin-left: 170px;
    margin-top: -180px;
    margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
    color: brown;
  }
  .price1{
    display:flex;
    margin-top: 25px;
    margin-left: 170px;
    color: darkmagenta
  }
  .rating1{
    margin-left: 170px;
  
   
  }
 .qty{

    margin-top: 50px;
 }

 .date{
 margin-top: 10px;
 margin-bottom: 10px;

 }

 .orderdetails{
  
  display: flex;
  justify-content: center;
   margin-left: 350px;
   margin-top: -300px;

 }
 .details{
  padding: 20px;
  height: auto;
  width:auto;
  margin-left: 20px;
  border-radius: 10px;

 }

 .orderde1{
  background-color: aquamarine;
 }
 .placeorder{
  display: flex;
  justify-content: center;
  align-items:  center;
  border: 2px solid white;
  border-radius: 5px;
  height: 30px;
  padding: 18px;
  margin-top: 25px;
  margin-bottom: 20px;
  color: white;
  background-color: green !important;

 }


 .placeorder:hover{
  display: flex;
  justify-content: center;
  align-items:  center;
  border: 2px solid white;
  border-radius: 5px;
  height: 30px;
  padding: 18px;
  margin-top: 25px;
  margin-bottom: 20px;
  color: white;
  background-color: blue  !important;
 } 
 .rating1 {
  display: flex;
  margin-left:170px;
  margin-top: 20px;
}
.delivery{
  display: flex;
}
.qty{
  display: flex;
}
 @media only screen and (max-width: 768px) {
  .qty{
   margin-top: 10px;
    flex-direction:none;
  }
  .productde{
    flex-direction: column;
  }
  .oder{
    margin: 0;
    flex-direction: column;
  }
 

  .img1 {
    /* Adjust styles for the product image */
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
  }

  .title1 {
    /* Adjust styles for the product title */
    margin-left: 0;
    margin-top: 10px;
    font-size: 1.2rem;
  }

  .price1 {
    /* Adjust styles for the product price */
    margin-left: 0;
    margin-top: 10px;
    font-size: 1rem;
  }

  .rating1 {
    display: flex;
    margin-left:-1px;
    margin-top: -5px;
  }


  .rating1 .react-star-rating__star {
    /* Adjust styles for the stars in the Rating component */
    font-size: 1rem;
  }
  .delivery{
    flex-direction: column;
  }
}